@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900,&display=swap);


.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.wrapper > main {
  flex-grow: 1;
}

body {
  font-family: "Lato", sans-serif;
  color: #424551;
}

[class*="__container"] {
  max-width: 1260px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0; 
  left: 0;
  padding: 20px 0;
  width: 100%; 
  z-index: 50;

}
.header__container {
  display: flex;
  column-gap: 60px;
  align-items: center;
}

.nav {
  flex-grow: 1;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
}
.nav__link {
  position: relative;
  font-weight: 700;
  line-height: 1.6;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #FF3F3A;
  transition: width .2s ease-in-out;
}

.nav__link:hover.nav__link::after {
  width: 100%;
}

.actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.actions__auth {
  padding-left: 28px;
  font-weight: 700;
  line-height: 20px;
  background: url(../img/auth.svg) left no-repeat;
  transition: color .2s ease-in-out;
}

.actions__auth:hover {
  color: black;
}


/* ===============  HERO ================= */


.section-hero {
  position: relative;
  padding: 200px 0 85px;
  background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%); 
}

.hero__content {
  display: flex;
  margin-bottom: 195px;
}

.hero__main-content {
  flex: 0 1 50%;
  padding-right: 30px;
  padding-top: 25px;
}

.hero__link-play {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  min-width: 175px;
  font-size: 14px;
  font-weight: 700;
}

.hero__link-play:not(:last-child) {
  margin-bottom: 43px;
}

.hero__link-play::before {
  content: "";
  flex: 0 0 52px;
  height: 52px;
  border-radius: 50%;
  background: #FF3F3A url(../img/play.svg) 53% 50% no-repeat;
}

.hero__link-play::after {
  content: "";
  position: absolute;
  left: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(255, 64, 58, 0.263);
  /* transform: scale(1.6); */
  animation: play 1.1s cubic-bezier(0.505, 0.380, 0.365, 1.085) infinite;
}

@keyframes play {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.3);
    opacity: 0;
  }
}

.hero__link-play:hover::after {
  animation-play-state: paused;
}

.hero__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
  letter-spacing: 1px;
  color: #1E212C;
}

.hero__title:not(:last-child) {
  margin-bottom: 60px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  column-gap: 23px;
}

.hero__buttons:not(:last-child) {
  margin-bottom: 40px;
}

.hero__image {
  flex: 0 1 50%;
}

.hero__img {
  max-width: 110%;
  transform: translate(10%,0px);
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advantages__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.advantages__value {
  font-weight: 900;
  font-size: 46px;
  color: #1E212C;
}

.advantages__text {
 line-height: 1.6;
 color: #1E212C;
}

.advantages__dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #FF3F3A;
}

.decor__item {
  position: absolute;
}

.decor__item--01 {
  background: url(../img/hero-decor/001.svg) no-repeat;
  width: 284px;
  height: 284px;
  bottom: -9%;
  left: -6%;
}
.decor__item--02 {
  background: url(../img/hero-decor/002.svg) no-repeat;
  width: 61px;
  height: 61px;
  bottom: 24%;
  left: 39%;
}
.decor__item--03 {
  background: url(../img/hero-decor/003.svg) no-repeat;
  width: 88px;
  height: 47px;
  top: 45%;
  left: 41%;
}
.decor__item--04 {
  background: url(../img/hero-decor/004.svg) no-repeat;
  width: 96px;
  height: 96px;
  top: 12%;
  left: 4%;
}
.decor__item--05 {
  background: url(../img/hero-decor/005.svg) no-repeat;
  width: 110px;
  height: 160px;
  top: -4%;
  right: 6%;
}
.decor__item--06 {
  background: url(../img/hero-decor/006.svg) no-repeat;
  width: 187px;
  height: 137px;
  bottom: 18%;
  right: -3%;
}

/* ====================== SECTION WHO WE ARE=================================== */

.section-who-we {
  position: relative;
}

.who-we__container {
  display: flex;
  padding-top: 180px;
  padding-bottom: 90px;
}

.who-we__image {
  flex: 0 1 58%;
}

.who-we__content {
  flex: 0 1 42%;
  justify-self: flex-end;
  padding-left: 10%;
}

.who-we__title:not(:last-child) {
  margin-bottom: 35px;
}

.who-we__list:not(:last-child) {
  margin-bottom: 63px;
}

.who-we__item {
  padding-left: 35px;
  line-height: 1.6;
  background: url(../img/check.svg) left 6px no-repeat;
}
.who-we__item:not(:last-child) {
  margin-bottom: 12px;
}

.who-we__button {
  padding: 14px 32px;
  font-size: 14px;
}

.who-we__decor-item {
  position: absolute;
}

.who-we__decor-item--01 {
  background: url(../img/who-we-decor/001.svg) no-repeat;
  width: 220px;
  height: 230px;
  bottom: 42%;
  left: -5%;
}

.who-we__decor-item--02 {
  background: url(../img/who-we-decor/002.svg) no-repeat;
  width: 287px;
  height: 287px;
  bottom: 13%;
  right: -8%;
}


/* ==================== SECTION COURSES =================== */

.courses__container {
  padding-top: 90px;
  padding-bottom: 90px;
}

.courses__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.courses__button {
  flex-grow: 0;
  align-self: flex-end;
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.courses__item {
  flex: 0 1 48.7%;
  border-radius: 4px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.courses__item:nth-child(odd) {
  margin-right: 2.6%;
}

.courses__link {
  display: flex;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
}

.courses__image {
  flex-shrink: 0;
}

.courses__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
  padding: 32px;
}

.courses__name {
  padding: 0 8px;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  border-radius: 4px;
  background-color: #03CEA4;
}

.courses__name--02,
.courses__name--05 {
  background-color: #5A87FC;
}

.courses__name--03 {
  background-color: #F89828;
}

.courses__name--06 {
  background-color: #F52F6E;
}

.courses__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1E212C;
}

.courses__info {
  display: flex;
  column-gap: 16px;
}

.courses__price {
  font-weight: 700;
  font-size: 18px;
  color: #FF4242;
}

.courses__teacher {
  position: relative;
  font-size: 18px;
  color: #787A80;
}

.courses__teacher::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 0;
  width: 1px;
  height: 16px;
  background: url(../img/divider.svg) no-repeat;
}